<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/tailwind.min.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
  <title>Login</title>
</head>
<body class="bg-yellow-200">
  registrazione
</body>

</html>